.container-fluid {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.balance {
    font-size: 2rem;
}

.navbar-dark .navbar-brand {
    font-family: 'Lobster', cursive;
    color: gold;
    font-size: 3rem;
    transition: .3s;
}

.navbar-dark .navbar-brand:focus {
    color: gold;
}

.navbar-dark .navbar-brand:hover {
    color: goldenrod;
}

.navbar-brand i:before{
    -webkit-transition: all 300ms 0s ease-in-out;
    transition: all 300ms 0s ease-in-out;
    display: inline-block;
}
.navbar-brand:hover i:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.main {
    max-width: 1920px;
    margin: auto;
    padding: 2rem;
}

.main h1{
    padding: 2rem;
}
.add-item {
    text-decoration: none;
    transition: 0.3s;
}

.add-item:hover {
    color: #006bff;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0; display: none; visibility: hidden;}
}
@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0; display: none; visibility: hidden;}
}

.message-box {
    z-index: 1111;
    min-width: 300px;
    max-width: 50vw;
    position: fixed;
    left: 50%;
    top: 30%;
    text-align: center;
    transform: translate(-50%, -50%);
    animation: fadeOut 2s 1;
    -webkit-animation: fadeOut 2s 1;
    animation-delay: 2s;
    -webkit-animation-delay: 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.message-box .alert{
    padding: 2rem 3rem;
    border-radius: 1rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.home .box {
    text-align: center;
    width: 25%;
    min-width: 300px;
    height: 50vh;
    min-height: 500px;
    padding: 4rem !important;
    margin: 0 2rem;
}



.home .box .icon i {
    display: block;
    font-size: min(max(8vw, 80px), 200px);
    transition: 0.3s;
    text-align: center;
    color: goldenrod;
}

.home .box:hover i {
    color: darkgoldenrod;
    font-size: min(max(9vw, 90px), 220px);
}

.home .box p {
    padding-top: 3rem;
}

.about i {
    display: block;
    font-size: min(max(8vw, 80px), 200px);
    transition: 0.3s;
    text-align: center;
    color: goldenrod;
    padding: 3rem;
}

.delete .fa-trash-alt {
    color: red;
}

.delete:hover .fa-trash-alt {
    color: darkred;
}

.edit .fa-edit {
    color: green;
}

.edit:hover .fa-edit {
    color: darkgreen;
}

.view-operations .fa-list {
    color: goldenrod;
}

.view-operations:hover .fa-list {
    color: darkgoldenrod;
}

table a:hover {
    text-decoration: none;
}

.disabled {
    pointer-events: none;
    color: gray;
}

.disabled .fa-trash-alt {
    color: gray;
}

label {
    font-weight: bold;
}

label:not(.required):before {
    content: "\a0\a0\a0";
}

label.required:before {
    content: "* ";
    color: red;
}

.passwords {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    width: min-content;
    margin: 1rem auto;
    padding: 1rem;
}

.img-big {
    display: block;
    width: max(40vw, 200px);
    margin: auto;
}

.username {
    color: goldenrod;
}

.users-body {
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.users {
    padding: 1rem;
}

.sign {
    margin: 2rem 0;
}

.admin {
    color: goldenrod;
}

.profile {
    text-decoration: none;
    color: gold;
    transition: 0.3s;
}

.profile:hover {
    color: goldenrod;
    text-decoration: none;
}

.logout {
    text-decoration: none;
    font-size: 1.7rem;
    color: gold;
    transition: .3s;
    padding: 1rem;
}

.logout:hover {
    color: goldenrod;
}
