{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_index'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_index'|trans }}</h1>
    <div class="home d-flex p-2 flex-row justify-content-center align-items-center flex-wrap">
        <div class="box d-flex p-2 flex-column justify-content-center align-items-center shadow p-3 mb-5 bg-white rounded">
            <div class="icon">
                <i class="fas fa-analytics"></i>
            </div>
            <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Vestibulum justo sapien, posuere id leo eget,
                consectetur egestas nunc. Fusce consectetur pretium accumsan.</p>
        </div>
        <div class="box d-flex p-2 flex-column justify-content-center align-items-center shadow p-3 mb-5 bg-white rounded">
            <div class="icon">
                <i class="fas fa-hand-holding-usd"></i>
            </div>
            <p>Fusce sed lorem sed elit auctor ornare.
                Suspendisse commodo gravida est, vitae facilisis lectus convallis ut.
                Vivamus id libero non ex commodo lobortis.</p>
        </div>
        <div class="box d-flex p-2 flex-column justify-content-center align-items-center shadow p-3 mb-5 bg-white rounded">
            <div class="icon">
                <i class="fas fa-chart-pie"></i>
            </div>
            <p>In tristique ultricies lorem sit amet dapibus.
                Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia curae.</p>
        </div>
    </div>
{% endblock %}